{% extends 'base/base.html' %}
{% block main-block %}
    <div id="message-type" class="messages">
        <h1 class="tituloMessage"></h1>
        <span id="btnCerrar">X</span>
        <form method="post">
            {% csrf_token %}
            <div class = 'message-content'>
                <h3></h3>
            </div>
            <script>args = JSON.parse('{{ object|safe }}')</script>
            <input id="oldURLdata" name="oldURLdata" type = "hidden">
            <button type = "submit" id="button1" class="btnInferiores"></button>
            <button type = "button" id="button2" class="btnInferiores"></button>
        </form>
    </div>
{% endblock %}
