<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset='UTF-8'>
		<title>STARF - login</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	</head>
	<body>
		<div id='loginFormContent'>
			<h1>Modulo de Reconocimiento Facial STARF</h1>
			<img/>
			<form method = 'post'>
				{% csrf_token %}
				<label>Usuario</label><br/>
				<input name='username' id='txtUsername' type='text'><br/>
				<label>Contraseña</label><br/>
				<input name='password' id='txtContrasena' type='password'><br/>
				<input id='btnLogin' type='submit' value="Acceder al Sistema">
			</form>
		</div>
	</body>
</html>