{% extends 'mr/list_templates/listado.html' %}

{% block list-block %}
    <table class="lista">
            <tbody>
                <tr class="headers">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% if object_list %}
                {% for usuario in object_list %}
                    <tr pk="{{ usuario.pk }}">
                        <td>{{ usuario.first_name }}</td>
                        <td>{{ usuario.last_name }}</td>                                                
                        <td>{{ usuario.username }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
            </tbody>
    </table>
{% endblock %}