{% extends 'mr/list_templates/listado.html' %}

{% block list-block %}
    <table class="lista">
            <tbody>
                <tr class="headers">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% if object_list %}
                {% for usuario in object_list %}
                    <tr data-value="{{ usuario.codigo_usuario }}">
                        <td>{{ usuario.codigo_usuario }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido }}</td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.tipo }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
            </tbody>
    </table>
{% endblock %}