{% extends 'mr/forms_templates/form.html' %}

{% block form-block %}
    {% load staticfiles %}
    <div class="form-content">
        <div class="left">
            <h1 class="subtitulo">Datos del Alumno</h1>
            <hr/>
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="right">
            <h1 class="subtitulo">Imagenes del Alumno</h1>
            <hr>
            <div class ="visor">
                <h3>No hay ninguna Imagen del alumno.</h3>
                    
                <h3>Si el alumno se encuentra con usted, solicite al mismo permanecer en frente de la computadora para obtener fotos del mismo y haga click en el boton 'Obtener Imagenes del Alumno' </h3>
            </div>
            <div class="commandBar">
                <input id="btnObtenerFotos" type="button" value="Obtener Imagenes del Alumno">
            </div>
        </div>
    </div>
{% endblock %}