{% extends 'asistencia/form.html' %}

{% block form-block %}
    <div class="form-content">
        <form>
            <p>Numero del Aula</p><input id="txtNumAula" class="txt-int tinyNumber" type="text" value="">
            <p>Descripcion</p><input id="txtDescripcion" class="txt-string onelineDescription" type="text" value="">
            <p>Edificio</p><select id="selectAula" class="full-select normalSelect"><option>Edificio Central</option><option>Concepcion</option></select>
        </form>
    </div>
{% endblock %}